/* styles.css */
.App {
  text-align: center;
  padding: 20px;
}

.mode-selection {
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}