<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Driver Locations</title>
    <link href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" rel="stylesheet"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <style>
        #map {
            height: 600px;
        }
    </style>
    <script th:inline="javascript">
       var stompClient = null;
       var driverMarkers = new Map();
       var map;

       connect();

       function connect() {
          stompClient = new window.StompJs.Client({
             webSocketFactory: function () {
                return new WebSocket("ws://localhost:8072/ws");
             }
          });
          stompClient.onConnect = function (frame) {
             frameHandler(frame)
          };
          stompClient.onWebsocketClose = function () {
             onSocketClose();
          };

          stompClient.activate();
       }

       // 서버에서 보낸 메시지 처리
       function frameHandler(frame) {
          console.log('Connected: ' + frame);
          // 서버로부터 /topic/outgoing 구독
          stompClient.subscribe('/topic/location', function (message) {
             console.log("subscribe cb message: " + (message.body));
             updateDriverLocation(message.body);
          });
       }

       function updateDriverLocation(location) {
          location = JSON.parse(location);
          var marker = driverMarkers.get(location.driverId);

          if (marker) {
             // 기존 마커 위치 업데이트
             marker.setLatLng([location.lat, location.lon]);
          } else {
             // 새로운 마커 생성
             marker = L.marker([location.lat, location.lon]).addTo(map);
             driverMarkers.set(location.driverId, marker);
          }
       }

       // 지도 초기화
       function initMap() {
          map = L.map('map').setView([37.5665, 126.9780], 13);

          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
             attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
             maxZoom: 18,
          }).addTo(map);
       }

       // 페이지 로드 시 지도 초기화
       window.onload = function () {
          initMap();
       };
    </script>
</head>
<body>
<h1>Driver Locations</h1>

<div id="map"></div>
</body>
</html>