<!DOCTYPE html>
<html>
<head>
    <title>Route Map</title>
    <link crossorigin="" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" rel="stylesheet"/>
    <script crossorigin=""
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
</head>
<body>
<div id="map" style="height: 500px;"></div>

<script>
   var map = L.map('map').setView([37.57524, 126.97711], 13);

   L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
   }).addTo(map);

   var startMarker, destMarker;

   map.on('click', function (e) {
      if (!startMarker) {
         startMarker = L.marker(e.latlng).addTo(map);
      } else if (!destMarker) {
         destMarker = L.marker(e.latlng).addTo(map);

         // 서버로 좌표 전송
         var startLat = startMarker.getLatLng().lat;
         var startLon = startMarker.getLatLng().lng;
         var destLat = destMarker.getLatLng().lat;
         var destLon = destMarker.getLatLng().lng;

         const url = `http://localhost:8072/api/route/query?startLat=${startLat}&startLon=${startLon}&destLat=${destLat}&destLon=${destLon}`;

         fetch(url, {
            params: new URLSearchParams({
               startLat: startLat,
               startLon: startLon,
               destLat: destLat,
               destLon: destLon
            })
         })
            .then(response => response.json())
            .then(data => {
               // 서버에서 받은 데이터로 경로 렌더링
               var polyline = L.polyline(data.coordinates, {color: 'red'}).addTo(map);
               map.fitBounds(polyline.getBounds());
            })
            .catch(error => console.error(error));
      }
   });
</script>
</body>
</html>